@font-face {
    font-family: 'noto-sans';
    src: url("./Noto_Sans_KR/NotoSansKR-Bold.otf");
}

* {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
    background-color: #fff;
    border-bottom: 2px solid #e98f00;
}
/*menu부분*/
.menu li img {
    width: 80%;
}

.menu>ul {
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
    font-family: 'noto-sans';
}

.menu li:hover {
    color: #e98f00;
}


/*banner부분*/

.banner {
    overflow: hidden;
    padding-top: 70px;
}

.banner-list {
    width: 200%;
    display: flex;
}

.banner .banner-item {
    margin: 0;
    width: 1920px;
}

.banner-item img {
    width: 100%;
}


/*company부분*/

.company {
    padding: 100px 10px;
    text-align: center;
}

.company h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

.company h2 {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    margin: 0 0 50px;
}

.company h2 span {
    color: #e98f00;
    font-family: 'noto-sans';
}

.company p {
    text-align: center;
    margin: 0 0 40px 0;
}
@media only all and(min-width:768px){
    .company{
        width: 1100px;
        max-width: 100%;
    }
}


/*service부분*/

.service {
    padding: 80px 10px;
    background-image: url(./img/servicebackground.jpg);
}

.service h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

.service>ul {
    display: flex;
    justify-content: center;
    padding: 0 3PX 0 0;
}

.service>ul>li {
    align-items: center;
    display: inline-flex;
    margin: 0 3px 80px 0;
    border-right: 1px solid black;
    padding: 0 8px;
}

.service>ul>li:last-child {
    border-right: none;
}

.servicebox ul {
    display: flex;
    justify-content: center;
}

.servicebox>ul>li>img {
    width: 60px;
    padding: 5px 40px;
}
.servicebox li {
    border: 1px solid black;
    border-right: none;
    padding: 30px 20px;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid black;
}

.servicebox p {
    color: #e98f00;
    font-size: 14px;
    padding: 10px 50px;
}
@media screen and (max-width: 768px){
    .servicebox ul{
        flex-wrap: wrap;
    }
    .servicebox ul li{
        width: 30%;
    }
}


/*portfolio*/

.portfolio {
    padding: 100px 10px;
}
.portfolio h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

.portfolio h2 {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    margin: 0 0 50px;
}

.portfolio h2 span {
    color: #e98f00;
    font-family: 'noto-sans';
}

.portfolioimg>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolioimg li>a>div {
    padding: 10px 10px 0px;
}

.portfolioimg li>a>div.information {
    /* display: none; */
    margin: 0 20px;
    text-align: center;
}
.portfolioimg li>a>div.information>span {
    display: block;
    font-size: 13px;
    color: #333;
    padding: 5px 0;
}
.portfolioimg li>a>div.information>span:last-child {
    color: #888;
}

@media screen and (max-width: 768px){
    .portfolioimg ul {
        flex-wrap: wrap;
    }
    .portfolioimg ul li {
        width: 50%;
    }
}
/*contentus*/
.contactus{
    background-color: #EAAB48;
    padding: 100px 100px;
    /* width: 100%; */
}
.contactus .contactusdiv{
    display: flex;
    justify-content: center;
}
.contactus ul input{
    font-family: 'noto-sans';
    background-color: rgba(255,255,255,.3);
}
.contactus ul textarea{
    font-family: 'noto-sans';
    background-color: rgba(255,255,255,.3);
}
.contactus .submit{
    border-radius: 4px;
    background-color: #FFD802;
    margin: 5px 15px;
    width: 200px;
    height: 225px;
    display: flex;
    justify-content: center;
}
.contactus .submit a{
    color: #000;
    font-weight: bold;
}
.contactus .submit span{
    display: block;
    color: #000;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    margin: 40px -5px 20px;
    line-height: 60px;
}
.contactus .contactusdiv li input{
    border-radius: 4px;
    border: none;
    padding: 5px 210px 5px 10px;
    margin: 5px 0;
    height: 40px;
}
.contactusdiv .note li textarea{
    border: none;
    border-radius: 4px;
    padding-right: 150px;
    margin: 5px 0;
    height: 225px;
}
.contactus .check{
    display: flex;
    justify-content:center;
    padding-right: 700px;
}
.contactus ul input::placeholder{
    color: #fff;
}
.contactus ul textarea::placeholder{
    padding: 10px;
    color: #fff;
}

/*location*/

.location {
    padding: 100px 10px;
}
.location>.contents{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.location h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

.location h2 {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    margin: 0 0 50px;
}
.location h2 span {
    color: #e98f00;
    font-family: 'noto-sans';
}
.mapdiv>iframe{
    width: 750px;
    height: 400px;
}
.location .information>ul{
    margin-top: 20px;
}
.information>ul>li{
    overflow: hidden;
    width: 100%;
}

.information>ul>li>div{
    display: block;
    color: #555;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    border: none;
}
.information>ul>li>div{
    font-family: Noto Sans;
    box-sizing: border-box;
    padding-left: 15px;
}

.information>ul>li{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.information>ul>li>span{
    color: #EAAB48;
    width: 5%;
    padding-right: 10px;
    display: inline-block;
    margin: 4px 0 0 0;
    box-sizing: border-box;
    vertical-align: top;
}

.information>ul>.items{
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding: 10px 0 0 0;
}

/*notice부분*/
.notice{
    background-color: #EAAB48;
    max-width: 100%;
    padding: 100px 10px;
}
.notice h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #fff;
}

.notice h2 {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    margin: 0 0 50px;
}
.notice h2 span {
    color: #000;
    font-family: 'noto-sans';
}
.notice .noticeus>.more{
    text-align: right;
    max-width: 700px;
    margin: 0 auto;
    font-weight: bold;
    font-size: small;
}
.notice .noticeus>.more>a{
    color: #fff;
}

.notice .noticeus ul{
    max-width: 700px;
    margin: 0 auto;
    font-size: small;
}
.notice .noticeus ul li{
    border-bottom: 1px solid #fff;
    font-size: 13px;
    padding-bottom: 6px;
}
.notice .noticeus ul li a{
    display: block;
    padding: 8px 0;
    color: #fff;
    width: 100%;
}
.notice .noticeus dl{
    margin: 0;
    width: 100%;
    display: flex;
}
.notice .noticeus dl dt{
    width: 91%;
}
.notice .noticeus dl dt dd{
    margin: 0;
    font-family: Arial;
    color: #fff;
}

/*footer부분*/

.footerdiv{
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    position: relative;
}
.footerdiv .footericon{
    position: absolute;
    right: 0;
    top: 20px;
    margin-top: 0;
}
.footerdiv .footericon a{
    font-size: 20px;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    margin: 3px;
}
.footerdiv .footericon .icon-facebook2{
    background-color: #3b5999;
}
.footerdiv .footericon .icon-twitter{
    background-color: #00bbf5;
}
.footerdiv .footericon .icon-instagram2{
    background: linear-gradient(45deg, #ffce65 0%,#f91b62 51%,#6b36ee 100%);
}
.footerdiv .footerlogo{
    padding: 10px 0 0 0;
}
.footerdiv .footerlogo img{
    height: 40px;
}
.footerdiv .information{
    padding: 15x;
}
.footerdiv .information ul{
    padding: 2px 0 0 40px;
}
.footerdiv .information .address li{
    display: inline;
    padding: 0 2px;
    font-size: 12px;
    color: #999;
    text-align: left;
}

.footerdiv .information .business li{
    display: inline;
    padding: 0 2px;
    font-size: 12px;
    color: #999;
    text-align: left;
}
.footerdiv .copyright{
    padding: 0 2px;
    font-size: 12px;
    color: #999;
    text-align: left;
}